---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'Figuracions';
const description = 'Un blog personal sobre Art, literatura i pensament';
const permalink = Astro.site.href;
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <div class="home_backgroud">
    <div class="home-copy">
      <h1 class="home_h1">Figuracions</h1>
      <p class="home_p">Un blog personal sobre Art, literatura i pensament</p><br>
      <!--<p class="home_p2"><em>per Ignasi Cardús</em></p><br>-->
      <blockquote class="cita_home">
        (…) Tot just expressem alguna cosa, ho empobrim singularment. Creiem que ens hem submergit en les profunditats dels abismes i quan tornem a la superfície la gota d’aigua que penja de la pàl.lida punta dels nostres dits ja no s’assembla al mar del qual procedeix. Creiem que hem descobert en una gruta meravellosos tresors i quan tornem a plena llum només portem amb nosaltres pedres falses i trossos de vidre; i no obstant això, en les tenebres brilla encara, immutable, el tresor.
        <span class="maeterlinck"> -Maurice Maeterlinck</span> </blockquote>
        
    </div>
  </div>
</BaseLayout>


